@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #FAFAFA;
  --color-textMain: #171717;
  --color-accentBlue: #3B82F6;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-textMain);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }
}

/* Custom scrollbar for minimalist look */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 10px;
}
